@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 18px;
}
img {
  border-radius: 25px;
}
input,
.bor {
  border-radius: 10px;
  outline: none;
  border: 1px solid #828282;
}
.items {
  background-color: #f2f2f2;
  border-radius: 25px;
}
.f-aw {
  font-family: "FontAwesome";
}
.price1 {
  color: #f2994a;
}
.price2 {
  color: #4e5150;
  text-decoration: line-through;
}
.btn-color {
  background-color: #e0e0e0;
  border-radius: 25px;
}

.icon-input {
  /* height: 40px; */
}
.icon-input::-webkit-input-placeholder,
.icon-input::-moz-placeholder,
.icon-input:-ms-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}

@media screen and (min-width: 768px) {
  .items {
    margin-bottom: 10rem !important;
  }
}
